<h1>Editing Subgenre</h1>

<%= render 'form', subgenre: @subgenre %>

<%= link_to 'Show', @subgenre %> |
<%= link_to 'Back', {:controller => "subgenres" ,:action => "index", :genre => @subgenre.genre_id} %>
